<h1>Groups</h1>

<ul id="groups_list">
	<% groups.each do |group| %>
		<li<% if groups.first == group %> class="first"<% end %>>
			<div class="group_message_container">
				<%= h link_to group.name, group_info_path(group.id) %>
				<%= h group.description %>
			</div>
			<div class="clear"></div>
		 </li>
	<% end %>
</ul>