<% comments.each do |comment| %>
    <li id="li_<%= comment.id %>">
        <div class="comment_message_container">
            <%= h link_to comment.user.username, user_info_path(comment.user.username) %>
            <div class="msg_container">
                <%= h comment.message %>
            </div>
            <div class="time_ago">
                <%= distance_of_time_in_words_to_now(comment.created_at) %> ago
            </div>
        </div>
        <div class="clear"></div>
     </li>
<% end %>